* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Roboto", sans-serif;
    background-color: #f4f4f4; 
    color: #333; 
    line-height: 1.6;
    padding: 20px;
    max-width: 80%;
    margin: 0 auto; 
  }
  
  h1 {
    text-align: center;
    color: #2e3d49; 
    font-size: 2.5em;
    background-color: #F5D547;
    font-family: "Roboto", sans-serif;
    width:95%;
    padding: 10px;
    margin:20px;
  }
  
  form {
    background-color:#FCE4D8;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px #F75590; 
    max-width: 600px;
    margin: 0 auto;
  }
  
  label {
    font-size: 1rem;
    margin-bottom: 10px;
    color: #3C1518;
    font-family: "Roboto", sans-serif;
    padding: 5px;
  }
  
  fieldset {
    border: none;
  }
   div{
    color:#3C1518;
    padding: 10px;
    font-size: 1rem;
   }
  
  .feature {
    display: block;
  }
  
  input[type="text"],
  input[type="date"],
  textarea,
  select {
    width: 100%;
    padding: 20px;
    margin: 10px 0 20px 0;
    border: 2px solid #F75590;
    border-radius: 4px;
    font-size: 1em;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
  }
  
  input[type="radio"],
  input[type="checkbox"] {
    margin:10px;

  }
  
  textarea {
    resize: vertical; 
    height: 150px;
  }

  input[type="submit"] {
    background-color: #9B489B; 
    color: white;
    padding: 10px 20px;
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s ease;
    font-family: "Roboto", sans-serif; 
  }
  
  input[type="submit"]:hover {
    background-color: #82FF9E;
    color: black;
  }
  
  input[type="radio"],
  input[type="checkbox"] {
    margin-right: 5px;
  }
  

  footer {
    background-color: #F5D547;
    text-align: center;
    color:#333;
    padding: 10px;
    margin:20px;
    font-family: "Roboto", sans-serif;
  }

  .review{
    font-size: 1.5rem;
    background-color:#F5D547;
    color: #333;
    text-align: center;
    font-family: "Roboto", sans-serif;
  }

  .review-1{
    font-size: 1rem;
    color:#084B83;
    text-align: center;
    font-family: "Roboto", sans-serif;
  }

  .review-2 {
    background-color: #F5D547;
    color:#333;
    font-size: 0.8rem;
    text-align: center;
    margin:20px;
    font-family: "Roboto", sans-serif;
  }

  .footer-2{
    margin-top:300px;
    font-family: "Roboto", sans-serif;
  }
  
  @media (max-width: 768px) {
    form {
      padding: 20px;
      max-width: 90%; 
    }
  
    h1 {
      font-size: 2em;
    }
  }
  
























































